<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940366600997-tenqpkuv2s1u0mklc1uk0ad3mvms61bn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940366600997-tenqpkuv2s1u0mklc1uk0ad3mvms61bn</string>
	<key>API_KEY</key>
	<string>AIzaSyDLIq4HxWvBcaYTqHh0yhSP8OKG6R-nkyg</string>
	<key>GCM_SENDER_ID</key>
	<string>940366600997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSample</string>
	<key>PROJECT_ID</key>
	<string>rubydog-banana</string>
	<key>STORAGE_BUCKET</key>
	<string>rubydog-banana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940366600997:ios:a5629d66f19aeb1301d8cc</string>
</dict>
</plist>